<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <extensions>
	  <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
	  <target name="FileLogger" xsi:type="File" fileName="${basedir}/logs/Trace/i_${date:format=yyyyMMddHH}.log" >
		  <layout type="JsonLayout">
			  <attribute name="Time" layout="${date:format=O}" />
			  <attribute name="Level" layout="${level:upperCase=true}"/>
			  <attribute name="Url" layout="${aspnet-request-url}"/>
			  <attribute name="MachineName" layout="${machinename}"/>
			  <attribute name="IpAddress" layout="${aspnet-request-ip}"/>
			  <attribute name="Properties"  encode="false" >
				  <layout type='JsonLayout'  suppressSpaces="True"  includeAllProperties="true" excludeProperties="EventId_Id,EventId_Name,EventId"   maxRecursionLimit="10"/>
			  </attribute>
			  <attribute name="Exception" layout="${exception:tostring}"/>
		  </layout>
	  </target>

	  <target xsi:type="Database"
	          name="DatabaseLogger"
	          connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=RentACar;Integrated Security=true;"
			  dbProvider="Microsoft.Data.SqlClient.SqlConnection,Microsoft.Data.SqlClient"
	          commandText="INSERT INTO Logs(Date,Message,Level,Exception,StackTrace,Logger,Url,MachineName,IpAddress,UserName) VALUES (@date,@msg,@level,@exception,@trace,@logger,@url,@machinename,@ipaddress,@username)">
		  <parameter name="@date" layout="${date}" dbType="DateTime" />
		  <!--<parameter name="@msg"  encode="false" >
			  <layout type='JsonLayout'  suppressSpaces="True"  includeAllProperties="true" excludeProperties="EventId_Id,EventId_Name,EventId"   maxRecursionLimit="10"/>
		  </parameter>-->
		  <parameter name="@msg" layout="${message}" />
		  <parameter name="@level" layout="${level}" />
		  <parameter name="@exception" layout="${exception:tostring}" />
		  <parameter name="@trace" layout="${stacktrace}" />
		  <parameter name="@logger" layout="${logger}" />
		  <parameter name="@url" layout="${aspnet-request-url}" />
		  <parameter name="@machinename" layout="${machinename}" />
		  <parameter name="@ipaddress" layout="${aspnet-request-ip}" />
		  <parameter name="@username" layout="${aspnet-user-identity}" />
	  </target>
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="FileLogger" minlevel="Debug" writeTo="FileLogger" />
    <logger name="DatabaseLogger" minlevel="Debug" writeTo="DatabaseLogger" />
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
